doctype 5
html(lang="en")
	head
		title=p.title
		script(type="text/javascript",src="http://use.typekit.com/ojc7aad.js")
		link(href="#{config.baseURL}styles/style.css",rel="stylesheet",type="text/css")
	body
		#wrapper
			.top
			#logo
			p.center.sub #{p.title}
			#body
				!{p.body}
			.cap
			ul#nav
				each link in nav
					li !{link.html}